psycopg2==2.9.9
APIFlask==2.1.0
Flask==2.2.5
shapely==2.0.3
docker==7.0.0
PyYAML==6.0.1
pandas==2.0.3
kubernetes==29.0.0
gunicorn==23.0.0
python-jose==3.5.0
pyjwt==2.10.1
gevent==25.5.1
cryptography==46.0.3
datetime==5.5
minio==7.2.15
geojson>=3.2
python-keycloak==5.8.1
email-validator
pyotp==2.9.0
qrcode==8.0
Pillow==11.0.0
redis==5.2.1
flask-session==0.8.0
markdown==3.7
# For the tests
jmespath>=1.0.1
# pyjq==2.6