psycopg2==2.9.9
APIFlask==2.1.0
Flask==2.2.5
shapely==2.0.3
docker==7.0.0
PyYAML==6.0.1
pandas==2.0.3
kubernetes==29.0.0
gunicorn==21.1.0
python-jose
cryptography
datetime
minio
python-keycloak
email-validator
pyotp==2.9.0
qrcode==8.0
Pillow==11.0.0
pyjwt==2.10.1

# For the tests
pyjq==2.6