<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>STELAR | Cluster Settings</title>

    <link rel="preload" href="https://code.jquery.com/jquery-3.6.0.min.js" as="script">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/tabler.min.css" as="style">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/js/tabler.min.js" as="script">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/tabler.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/js/tabler.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.5/ace.js" type="text/javascript"
        charset="utf-8"></script>
    <script src="{{ url_for('static', filename='utils.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='favico.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='stelar.css') }}">
</head>

<body>
    <div class="page">
        {% include 'header.html' %}
        <div class="page-wrapper">
            <div class="page-header d-print-none">
                <div class="container-xl">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <div class="page-pretitle">
                                ADMINISTRATION
                            </div>
                            <h2 class="page-title">
                                Cluster Settings
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container container-xl">
                    <div class="card card-md">
                        <div class="card-body">
                            <div class="row row-cards">
                                <div class="col-lg-12">
                                    <h2 class="mb-3">User Settings</h2>
                                    <p class="text-secondary mb-3">
                                        Manage your organization users, edit their details or add new users
                                    </p>
                                    <div class="card-body border-bottom">
                                        <div class="d-flex">
                                            <div class="ms-auto d-flex ">
                                                <div class="input-icon">
                                                    <span class="input-icon-addon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                            height="24" viewBox="0 0 24 24" stroke-width="2"
                                                            stroke="currentColor" fill="none" stroke-linecap="round"
                                                            stroke-linejoin="round">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                                                            <path d="M21 21l-6 -6" />
                                                        </svg>
                                                    </span>
                                                    <input type="text" value="" class="form-control"
                                                        placeholder="Search User" id="user-search-box"
                                                        aria-label="User Filtered Search">
                                                </div>
                                            </div>
                                            <div class="ms-2 d-inline-block d-none">
                                                <button class="btn btn-sm btn-outline-secondary"
                                                    id="clear-user-search-btn">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-vcenter card-table" id="users-table">
                                            <thead>
                                                <tr>
                                                    <th style="width: 15%;">Username</th>
                                                    <th style="width: 22%;">Name</th>
                                                    <th style="width: 23%;">Email</th>
                                                    <th style="width: 10%;">Joined Organization</th>
                                                    <th style="width: 22%;">Roles</th>
                                                    <th style="width: 8%;">Activation Status</th>
                                                    <th class="w-1"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="user-body" class="placeholder-glow">

                                                {% for i in range(8) %}
                                                <tr>
                                                    <td>
                                                        <div class="col-auto">
                                                            <div class="placeholder placeholder-xs col-6"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-auto">
                                                            <div class="placeholder placeholder-xs col-9"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-auto">
                                                            <div class="placeholder placeholder-xs col-9"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-auto">
                                                            <div class="placeholder placeholder-xs col-6"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-auto">
                                                            <div class="placeholder placeholder-xs col-9"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-auto">
                                                            <div class="placeholder placeholder-xs col-6"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-auto">
                                                            <div class="placeholder placeholder-xs col-9"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                        <div class="card-footer d-flex align-items-center" id="pagination-container">
                                            <p class="m-0 text-secondary">Showing <span id="start"></span> to <span
                                                    id="end"></span> of <span id="total"></span> entries</p>
                                            <ul class="pagination m-0 ms-auto" id="pagination-numbers">
                                                <li class="page-item" id="prev-page">
                                                    <a class="page-link" tabindex="-1" aria-disabled="true">prev </a>
                                                </li>
                                                <li class="page-item active"><a class="page-link" data-page="1">1</a>
                                                </li>
                                                <li class="page-item" id="next-page">
                                                    <a class="page-link"> next</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container container-xl mt-4">
                    <div class="card card-md">
                        <div class="card-body">
                            <div class="row row-cards">
                                <div class="col-lg-4">
                                    <h2 class="mb-3">Authorization Policy Management</h2>
                                    <p class="text-secondary mb-4">
                                        Manage the authorization rules applied to MinIO resources within the KLMS
                                        cluster.
                                    </p>
                                    <div class="card">
                                        <div class="list-group card-list-group">




                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-8">
                                    <div class="d-flex justify-content-end mb-3" id="editor-header">
                                        <button id="download-policy-btn" class="btn btn-primary">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="me-2 text-white icon icon-tabler icons-tabler-outline icon-tabler-download">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                                                <path d="M7 11l5 5l5 -5" />
                                                <path d="M12 4l0 12" />
                                            </svg>
                                            Download YAML</button>
                                        <div>
                                        </div>
                                        <button id="clear-policy-btn" class="btn btn-secondary ms-2">Clear
                                            Editor</button>
                                    </div>
                                    <div id="editor" style="border-radius:5px; height: 40rem; width: 100%;">

                                    </div>
                                    <div class="d-flex justify-content-end mt-3" id="editor-footer">
                                        <button id="apply-policy-btn" class="btn btn-primary">Apply YAML as new
                                            Policy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container container-xl mt-4">
                    <div class="card card-md">
                        <div class="card-body">
                            <div class="row row-cards">
                                <div class="col-lg-12">
                                    <h2 class="mb-3">Tool Settings</h2>
                                    <p class="text-secondary mb-4">
                                        Manage the data tool images that are allowed to be run in the KLMS cluster
                                    </p>
                                    <div class="table-responsive">
                                        <table class="table table-vcenter card-table">
                                            <thead>
                                                <tr>
                                                    <th style="width: 25%;">Tool</th>
                                                    <th style="width: 25%;">Image Name</th>
                                                    <th style="width: 25%;">Source Code Repo</th>
                                                    <th style="width: 15%;">Owner</th>
                                                    <th style="width: 10%;">Execution Allowed</th>
                                                    <th class="w-1"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tool-body">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal modal-blur fade" id="verify-delete-user" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-status bg-danger"></div>
                            <div class="modal-body text-center py-4">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24"
                                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24V0H0z" fill="none" />
                                    <path
                                        d="M10.24 3.957l-8.422 14.06a1.989 1.989 0 0 0 1.7 2.983h16.845a1.989 1.989 0 0 0 1.7 -2.983l-8.423 -14.06a1.989 1.989 0 0 0 -3.4 0z" />
                                    <path d="M12 9v4" />
                                    <path d="M12 17h.01" />
                                </svg>
                                <h3>Are you sure?</h3>
                                <div class="text-secondary">
                                    Do you really wish to delete user <span id="verify-user-name"
                                        class="fw-bold"></span>?
                                    This action is irreversible.
                                    <span hidden id="verify-user-id-del"></span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="w-100">
                                    <div class="row">
                                        <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                                                Cancel
                                            </a></div>
                                        <div class="col">
                                            <button id="confirm-delete-user-btn" class="btn btn-danger w-100">
                                                Delete User
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal modal-blur fade" id="modal-edit-user" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit User</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="edit-user-form">
                                    <input type="hidden" id="user-id" name="user-id"> <!-- Hidden field for user ID -->
                                    <div class="mb-3">
                                        <label class="form-label">Username</label>
                                        <input type="text" class="form-control" id="edit-username" name="username"
                                            placeholder="Enter username" disabled>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Full Name</label>
                                        <input type="text" class="form-control" id="edit-fullname" name="fullname"
                                            placeholder="Enter full name">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control" id="edit-email" name="email"
                                            placeholder="Enter email address">
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-label">User Roles</div>
                                        <div id="role-checkboxes">
                                            <!-- Roles checkboxes will be dynamically injected here -->
                                        </div>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col-8">
                                            <div class="mb-3">
                                                <label class="form-label">Activation Status</label>
                                                <div class="d-flex">
                                                    <label class="form-check form-switch mt-2">
                                                        <input class="form-check-input cursor-pointer" type="checkbox"
                                                            id="edit-active-account">
                                                        <span class="form-check-label">Active Account</span>
                                                    </label>
                                                    <button class="btn btn-success ms-3" id="send-activation-email-btn"
                                                        disabled>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="icon text-white me-2 icon-tabler icons-tabler-outline icon-tabler-send">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                            <path d="M10 14l11 -11" />
                                                            <path
                                                                d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5" />
                                                        </svg>
                                                        </svg>
                                                        Send activation email
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div class="mb-3">
                                                <label class="form-label">Verification Status</label>
                                                <label class="form-check form-switch mt-3">
                                                    <input class="form-check-input cursor-pointer" type="checkbox"
                                                        id="edit-verified-email">
                                                    <span class="form-check-label">Verified Email</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <small class="form-text text-muted">If a user has an active session, they need to
                                        logout and login again for any changes to take effect.</small>

                            </div>
                            <div class="modal-footer" id="user-modal-footer">
                                <button type="button" class="btn btn-link link-secondary"
                                    data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary" id="save-user-btn">Save changes</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>

                {% include 'footer.html' %}
            </div>
        </div>
        <script>
            function downloadPolicy() {
                const editor = ace.edit('editor');
                const yamlContent = editor.getValue();

                // Get the policy ID from the currently selected policy
                const selectedPolicy = document.querySelector('.list-group-item.bg-purple-lt'); // Find the highlighted policy
                if (!selectedPolicy) {
                    alert('No policy selected to download.');
                    return;
                }

                const policyId = selectedPolicy.id;

                // Create a Blob object with the YAML content
                const blob = new Blob([yamlContent], { type: 'application/x-yaml' });

                const link = document.createElement('a');
                link.href = URL.createObjectURL(blob);
                link.download = `policy_${policyId}.yaml`; // Use the policy ID in the file name
                link.style.display = 'none';

                document.body.appendChild(link);
                link.click();

                // Clean up by removing the anchor element and revoking the Blob URL
                document.body.removeChild(link);
                URL.revokeObjectURL(link.href);
            }

            document.getElementById('download-policy-btn').addEventListener('click', downloadPolicy);

        </script>
        <script>
            $(document).ready(function () {
                const apiUrl = `{{url_for('auth_tool_blueprint.api_list_all_policies')}}`;
                const representationUrl = `{{url_for('auth_tool_blueprint.get_policy_function', policy_filter='')}}`;
                const listGroup = $('.list-group.card-list-group');
                const editor = ace.edit('editor');

                function createPolicyItem(policy) {
                    const isActive = policy.active ? 'Active' : '';
                    const badge = policy.active
                        ? '<span class="status status-green">Active</span>'
                        : '';

                    return `
                        <div class="cursor-pointer list-group-item" id="${policy.policy_uuid}">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <code>${policy.policy_uuid}</code>
                                    <div class="text-secondary">
                                        Name: <strong>${policy.policy_familiar_name}</strong>
                                    </div>
                                    <div class="text-secondary">
                                        Date Created: <strong>${new Date(policy.created_at).toLocaleString()}</strong>
                                    </div>
                                    <div class="text-secondary">
                                        Creator: <strong>${policy.user_id}</strong>
                                    </div>
                                </div>
                                <div class="col-auto ms-auto">
                                    ${badge}
                                </div>
                            </div>
                        </div>`;
                }

                // Fetch policies and populate the list
                function fetchPolicies() {
                    $.ajax({
                        url: apiUrl,
                        method: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            const policies = data.result.policies;
                            policies.sort((a, b) => new Date(b.created_at) - new Date(a.created_at));
                            listGroup.empty();

                            let activePolicyId = null;

                            // Populate policies
                            policies.forEach(function (policy) {
                                listGroup.append(createPolicyItem(policy));
                                if (policy.active) {
                                    activePolicyId = policy.policy_uuid;
                                }
                            });

                            // Add click event listeners for each item
                            $('.list-group-item').on('click', function () {
                                const policyId = $(this).attr('id');
                                $('.list-group-item').removeClass('bg-purple-lt');
                                $(this).addClass('bg-purple-lt');

                                fetchPolicyRepresentation(policyId);
                                $("#editor-footer .alert").remove();
                                $("#editor-footer .spinner-border").remove();
                            });

                            if (activePolicyId) {
                                const activePolicyElement = $(`#${activePolicyId}`);
                                activePolicyElement.addClass('bg-purple-lt');
                                fetchPolicyRepresentation(activePolicyId);
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error('Error fetching policies:', error);
                        }
                    });
                }

                // Fetch policy representation and update the editor
                function fetchPolicyRepresentation(policyId) {
                    const url = `${representationUrl}/${policyId}`;
                    $.ajax({
                        url: url,
                        method: 'GET',
                        dataType: 'text',
                        success: function (yamlData) {
                            editor.setValue(yamlData, -1);
                        },
                        error: function (xhr, status, error) {
                            console.error(`Error fetching policy representation (${policyId}):`, error);
                        }
                    });
                }

                fetchPolicies();

                $('#apply-policy-btn').on('click', function () {
                    $("#editor-footer .alert").remove();
                    $("#editor-footer .spinner-border").remove();

                    const yamlContent = editor.getValue();
                    const loader = '<div class="spinner-border me-auto p-2 spinner-border-sm text-secondary" role="status"></div>'
                    $("#editor-footer").prepend(loader)

                    $.ajax({
                        url: `{{url_for('auth_tool_blueprint.create_roles_function')}}`,
                        method: 'POST',
                        contentType: 'application/x-yaml',
                        data: yamlContent,
                        success: function (response) {
                            fetchPolicies();
                            fetchSystemRoles();
                            $("#editor-footer .spinner-border ").remove();
                            $("#editor-footer").prepend(createAlertElement('success', 'Policy Applied & Saved'));
                        },
                        error: function (xhr, status, error) {
                            $("#editor-footer .spinner-border ").remove();
                            $("#editor-footer").prepend(createAlertElement('danger', 'Failed to apply policy'));
                        }
                    });
                });

                $('#clear-policy-btn').on('click', function () {
                    $('.list-group-item').removeClass('bg-purple-lt');
                    $("#editor-footer .alert").remove();
                    $("#editor-footer .spinner-border").remove();
                    editor.setValue('');
                });

            });
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var editor = ace.edit("editor");
                editor.setTheme("ace/theme/nord_dark");
                editor.session.setMode("ace/mode/yaml");
                editor.setOptions({
                    fontSize: "15px",
                    showPrintMargin: false,
                    wrap: true,
                });

                // Add padding inside the editor
                editor.renderer.setScrollMargin(10, 10, 10, 10);
                // Prevent page scrolling when scrolling inside the editor
                editor.container.addEventListener('wheel', function (e) {
                    e.stopPropagation(); // Prevent the event from propagating to parent elements
                }, { passive: true });

            });
        </script>
        <script>
            $(document).ready(function () {
                $('#edit-active-account').change(function () {
                    if ($(this).is(':checked')) {
                        $('#send-activation-email-btn').prop('disabled', false);
                    } else {
                        $('#send-activation-email-btn').prop('disabled', true);
                    }
                });

                $('#send-activation-email-btn').click(function (e) {
                    e.preventDefault();

                    $("#user-modal-footer .alert").remove();

                    const userId = $('#user-id').val();

                    $.ajax({
                        url: "{{ url_for('users_blueprint.send_activation_email') }}",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ id: userId }),
                        success: function (response) {
                            // Add success alert
                            $("#user-modal-footer").prepend(createAlertElement('success', 'Activation Email Sent'));
                        },
                        error: function (xhr, status, error) {
                            // Add error alert
                            $("#user-modal-footer").prepend(createAlertElement('danger', 'Failed to sent email'));
                        }
                    });
                });
            });

        </script>
        <script>
            let allUsers = []; // Store all users here after fetching
            let filteredUsers = []; // Store filtered users when search is applied
            const maxUsersPerPage = 8;
            let currentPage = 1;

            // Fetch all users at once
            function fetchAllUsers() {
                $.ajax({
                    url: `{{url_for('users_blueprint.get_users')}}`,
                    method: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        if (response.result.count > 0) {
                            allUsers = response.result.users;
                            filteredUsers = [...allUsers];
                            totalUsers = allUsers.length;
                            updatePagination();
                            renderTable(currentPage);
                        } else {
                            console.error("No users found.");
                        }
                    },
                    error: function (response) {
                        console.error("Error fetching users");
                    }
                });
            }

            // Function to render the table for the current page
            function renderTable(page) {
                const tableBody = $("#user-body");
                tableBody.empty();
                tableBody.removeClass('placeholder-glow');

                const start = (page - 1) * maxUsersPerPage;
                const end = Math.min(start + maxUsersPerPage, filteredUsers.length);
                const usersToShow = filteredUsers.slice(start, end);

                // Populate the table with user data
                usersToShow.forEach(user => {
                    const roles = user.roles ? user.roles.join(', ') : 'None';
                    const activeStatus = user.active
                        ? `<span class="status status-green">Active</span>`
                        : `<span class="status status-red">Inactive</span>`;

                    // Action buttons (only added if username is not "admin")
                    const actionButtons = user.username.toLowerCase() === "admin"
                        ? ''
                        : `
                            <div class="d-flex">
                                <button class="edit-user-btn btn px-2 me-2 btn-sm" data-bs-toggle="modal" data-bs-target="#modal-edit-user" data-user-id="${user.id}">
                                    Edit
                                </button>
                                <button class="del-user-btn btn btn-danger btn-sm" data-user-id="${user.id}">
                                    Delete
                                </button>
                            </div>
                        `;

                    tableBody.append(`
                        <tr>
                            <td>${user.username}</td>
                            <td class="text-secondary">${user.fullname || 'N/A'}</td>
                            <td><a href="mailto:${user.email || 'Not set'}" class="text-reset">${user.email || 'Not set'}</a></td>
                              <td class="text-secondary">${user.joined_date ? formatDate(user.joined_date) : 'N/A'}</td>
                            <td class="text-secondary">${roles}</td>
                            <td class="text-center">${activeStatus}</td>
                            <td>${actionButtons}</td>
                        </tr>
                    `);
                });

                // If fewer users than maxUsersPerPage, fill in with empty rows
                const emptyRows = maxUsersPerPage - usersToShow.length;
                for (let i = 0; i < emptyRows; i++) {
                    tableBody.append(`
                        <tr style="height:49px;">
                            <td>&nbsp;</td>
                            <td class="text-secondary">&nbsp;</td>
                            <td class="text-secondary">&nbsp;</td>
                            <td class="text-secondary">&nbsp;</td>
                            <td class="text-secondary">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    `);
                }

                updatePageDetails(page, usersToShow.length);
            }

            function formatDate(isoString) {
                const date = new Date(isoString);
                const day = String(date.getDate()).padStart(2, '0');
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const year = date.getFullYear();
                const hours = String(date.getHours()).padStart(2, '0');
                const minutes = String(date.getMinutes()).padStart(2, '0');

                return `${day}-${month}-${year} ${hours}:${minutes}`;
            }

            // Search function to filter users by name, username, email, or role
            function searchUsers(query) {
                if (!query) {
                    filteredUsers = [...allUsers]; // Reset to original if no search query
                } else {
                    query = query.toLowerCase();
                    filteredUsers = allUsers.filter(user => {
                        return (
                            user.username.toLowerCase().includes(query) ||
                            (user.fullname && user.fullname.toLowerCase().includes(query)) ||
                            (user.email && user.email.toLowerCase().includes(query)) ||
                            (user.roles && user.roles.join(', ').toLowerCase().includes(query))
                        );
                    });
                }
                totalUsers = filteredUsers.length;
                currentPage = 1;
                updatePagination();
                renderTable(currentPage);
            }

            // Event listener for search box
            $("input[id='user-search-box']").on("input", function () {
                const query = $(this).val();
                searchUsers(query);
            });

            // Event listener for the clear button
            $("#clear-user-search-btn").on("click", function () {
                // Clear the input field
                $("#user-search-box").val('');
                // Trigger the search function with an empty string to reset the table
                searchUsers('');
            });

            // Update the footer with the page details
            function updatePageDetails(page, usersOnPage) {
                const start = (page - 1) * maxUsersPerPage + 1;
                const end = Math.min(start + usersOnPage - 1, totalUsers);
                $("#start").text(start);
                $("#end").text(end);
                $("#total").text(totalUsers);
            }

            // Update the pagination controls
            function updatePagination() {
                const pagination = $("#pagination-numbers");
                const totalPages = Math.ceil(filteredUsers.length / maxUsersPerPage);

                pagination.empty(); // Clear existing pagination

                // Add "Prev" button
                pagination.append(`
                    <li class="page-item ${currentPage === 1 ? 'disabled' : ''}">
                        <a class="page-link" href="#" id="prev-page">prev</a>
                    </li>
                `);

                // Add page numbers
                for (let i = 1; i <= totalPages; i++) {
                    pagination.append(`
                        <li class="page-item ${i === currentPage ? 'active' : ''}">
                            <a class="page-link" href="#" data-page="${i}">${i}</a>
                        </li>
                    `);
                }

                // Add "Next" button
                pagination.append(`
                    <li class="page-item ${currentPage === totalPages ? 'disabled' : ''}">
                        <a class="page-link" href="#" id="next-page">next</a>
                    </li>
                `);

                // Attach event listeners for pagination
                $(".page-link").off("click").on("click", function (event) {
                    event.preventDefault();
                    const selectedPage = $(this).data('page');
                    if (selectedPage && selectedPage !== currentPage) {
                        currentPage = selectedPage;
                        renderTable(currentPage);
                        updatePagination(); // Make sure to update the pagination controls
                    }
                });

                // "Prev" and "Next" buttons
                $("#prev-page").off("click").on("click", function (event) {
                    event.preventDefault();
                    if (currentPage > 1) {
                        currentPage--;
                        renderTable(currentPage);
                        updatePagination(); // Update pagination after switching page
                    }
                });

                $("#next-page").off("click").on("click", function (event) {
                    event.preventDefault();
                    const totalPages = Math.ceil(filteredUsers.length / maxUsersPerPage);
                    if (currentPage < totalPages) {
                        currentPage++;
                        renderTable(currentPage);
                        updatePagination(); // Update pagination after switching page
                    }
                });
            }

            // Fetch all users on page load
            $(document).ready(function () {
                fetchAllUsers();
            });

            $('#modal-edit-user').on('hidden.bs.modal', function () {
                // Clear input fields (text, email, date) and textareas
                $(this).find('input[type="text"], input[type="email"], input[type="date"], textarea').val('');
                $(this).find('input[type="checkbox"]').prop('checked', false);
                $("#user-modal-footer .alert").remove();
                $("#user-modal-footer .spinner-border ").remove();
            });
        </script>

        <script>
            let systemRoles = []; // This will store all system roles

            // Fetch system roles on page load
            function fetchSystemRoles() {
                $.ajax({
                    url: `{{url_for('users_blueprint.api_get_roles')}}`,
                    method: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        if (response.result.roles && Array.isArray(response.result.roles)) {
                            systemRoles = response.result.roles.map(role => role.name);
                            renderRoleCheckboxes();
                        } else {
                            console.error("Unexpected format for roles");
                            systemRoles = [];
                        }
                    },
                    error: function () {
                        console.error("Error fetching roles");
                    }
                });
            }

            // Function to render the roles checkboxes (all checkboxes, initially unchecked)
            function renderRoleCheckboxes() {
                const roleContainer = $('#role-checkboxes');
                roleContainer.empty(); // Clear existing checkboxes

                // Loop through system roles and generate checkboxes
                systemRoles.forEach(role => {
                    const checkboxHTML = `
                        <label class="form-check form-check-inline">
                            <input class="form-check-input cursor-pointer" type="checkbox" name="roles" value="${role}">
                            <span class="form-check-label">${role}</span>
                        </label>`;
                    roleContainer.append(checkboxHTML);
                });
            }

            // Function to populate checkboxes based on user roles (check user-specific roles)
            function populateUserRoleCheckboxes(userRoles = []) {
                // Loop through all checkboxes and check/uncheck based on user roles
                $('#role-checkboxes input[type="checkbox"]').each(function () {
                    const role = $(this).val();
                    if (userRoles.includes(role)) {
                        $(this).prop('checked', true); // Check this checkbox if user has the role
                    } else {
                        $(this).prop('checked', false); // Uncheck if user does not have the role
                    }
                });
            }

            // Fetch user data when modal opens
            function fetchUserData(userId) {
                $.ajax({
                    url: `{{ url_for('users_blueprint.api_get_user', user_id='') }}${userId}`,
                    method: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        user = response.result.user
                        $('#edit-username').val(user.username);
                        $('#edit-fullname').val(user.fullname);
                        $('#edit-email').val(user.email);
                        $('#user-id').val(user.id);
                        $('#edit-active-account').prop('checked', user.active);
                        $('#edit-verified-email').prop('checked', user.email_verified)

                        populateUserRoleCheckboxes(user.roles);
                    },
                    error: function () {
                        console.error("Error fetching user data");
                    }
                });
            }

            // Event listener for when the Edit button is clicked
            $(document).on('click', '.edit-user-btn', function () {
                const userId = $(this).data('user-id');
                fetchUserData(userId);
            });

            // Fetch system roles on page load
            $(document).ready(function () {
                fetchSystemRoles();
            });

        </script>

        <script>

            $(document).on("click", ".del-user-btn", function () {
                const userId = $(this).data("user-id");
                $("#verify-user-id-del").text(userId); // Display the user ID in the modal
                $("#verify-delete-user").modal("show");
            });

            $(document).on("click", ".del-user-btn", function () {
                const userId = $(this).data("user-id");
                const userName = $(this).closest('tr').find('td:first').text();
                $("#verify-user-id-del").text(userId); // Set the user ID in the hidden span
                $("#verify-user-name").text(userName); // Display the user's name in the modal
                $("#confirm-delete-user-btn").data("user-id", userId); // Store the user ID in the delete confirmation button
                $("#verify-delete-user").modal("show");
            });

            $("#confirm-delete-user-btn").on("click", function () {
                const userId = $(this).data("user-id"); // Retrieve the user ID
                if (userId) {
                    $.ajax({
                        url: `{{ url_for('users_blueprint.api_delete_user', user_id='') }}${userId}`,
                        type: "DELETE",
                        success: function (response) {
                            alert("User deleted successfully.");
                            $("#verify-delete-user").modal("hide");
                        },
                        error: function (xhr, status, error) {
                            let errorMessage = "Failed to delete user.";
                            if (xhr.responseJSON && xhr.responseJSON.message) {
                                errorMessage = xhr.responseJSON.message;
                            }
                            alert(errorMessage);
                        },
                    });
                    fetchAllUsers();
                }
            });


            function patchUserRoles(userId, roles) {
                $.ajax({
                    url: `{{ url_for('users_blueprint.get_users')}}${userId}/roles`,
                    type: 'PATCH',
                    contentType: 'application/json',
                    data: JSON.stringify({ roles }),
                    success: function (response) {
                        $("#user-modal-footer .alert").remove();
                        $("#user-modal-footer .spinner-border ").remove();
                        $("#user-modal-footer").prepend(createAlertElement('success', 'User updated'));
                        fetchAllUsers();
                    },
                    error: function (response) {
                        $("#user-modal-footer .alert").remove();
                        $("#user-modal-footer .spinner-border ").remove();
                        $("#user-modal-footer").prepend(createAlertElement('danger', 'Failed to update user'));
                    }
                });
            }


            // Event listener for the form submission of the edit user modal
            $("#edit-user-form").on("submit", function (event) {
                event.preventDefault();

                let userId = $("#user-id").val()

                const fullName = $("#edit-fullname").val().trim().split(' ');
                const firstName = fullName[0] || '';
                const lastName = fullName.slice(1).join(' ') || '';

                const userData = {
                    firstName: firstName,
                    lastName: lastName,
                    email: $("#edit-email").val().trim(),
                    enabled: $("#edit-active-account").is(':checked'),
                    emailVerified: $("#edit-verified-email").is(':checked')
                };

                const roles = [];
                $('#role-checkboxes input[type="checkbox"]:checked').each(function () {
                    roles.push($(this).val());
                });


                // Validate the required fields
                const requiredFields = ["#edit-fullname", "#edit-email"];

                const hasInvalidFields = requiredFields.some(fieldId => {
                    const field = $(fieldId);
                    if (field.val().trim() === '') {
                        field.addClass('is-invalid');
                        return true;
                    } else {
                        field.removeClass('is-invalid');
                        return false;
                    }
                });

                $("#user-modal-footer .alert").remove();
                $("#user-modal-footer").prepend(createLoaderElement())

                $.ajax({
                    url: `{{ url_for('users_blueprint.api_put_user', user_id='') }}${userId}`,
                    type: 'PATCH',
                    contentType: 'application/json',
                    data: JSON.stringify(userData),
                    success: function (response) {
                        if (response.result.warning) {
                            $("#user-modal-footer .alert").remove();
                            $("#user-modal-footer .spinner-border ").remove();
                            $("#user-modal-footer").prepend(createAlertElement('danger', 'Administrator account can not be updated.'));
                        } else {
                            patchUserRoles(userId, roles);
                        }
                    },
                    error: function (response) {
                        $("#user-modal-footer .alert").remove();
                        $("#user-modal-footer .spinner-border ").remove();
                        $("#user-modal-footer").prepend(createAlertElement('danger', 'Failed to update user.'));
                    }
                });

            });


            // Event listener to remove is-invalid class when the user starts typing
            $("#edit-fullname, #edit-email").on("input", function () {
                if ($(this).val().trim() !== '') {
                    $(this).removeClass('is-invalid');
                }
            });

        </script>
</body>

</html>