<footer class="footer footer-transparent d-print-none">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/tabler-socials.min.css">
    <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><a href="https://stelar-project.eu" target="_blank"
                            class="link-secondary">
                            Project Website
                        </a></li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/showcase/stelar-horizoneurope" target="_blank"
                            class="link-secondary me-2">
                            <span class="icon social social-app-linkedin" style="height: 1.25rem;"></span>
                        </a>
                        <a href="https://www.instagram.com/stelar_project.eu/" target="_blank"
                            class="link-secondary me-2">
                            <span class="icon social social-app-instagram" style="height: 1.25rem;"></span>
                        </a>
                        <a href="https://x.com/STELAR_EU" target="_blank" class="link-secondary me-2">
                            <span class="icon social social-app-x" style="height: 1.25rem;"></span>
                        </a>
                        <a href="https://www.github.com/stelar-eu" target="_blank" class="link-secondary">
                            <span class="icon social social-app-github" style="height: 1.25rem;"></span>
                        </a>
                    </li>
                    <li class="list-inline-item"><a href="https://tabler.io/license" target="_blank"
                            class="link-secondary">License</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        <a href="https://stelar-project.eu" target="_blank" class="link-secondary">STELAR EU</a>.
                        All rights reserved.
                    </li>
                    <li class="list-inline-item"></li>
                    <a class="link-secondary" rel="noopener">
                        V1.5 beta
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>