<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>STELAR | Forgot Password</title>
  {% include 'tabler.html' %}

  <link rel="stylesheet" href="{{ url_for('static', filename='stelar.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favico.png') }}" type="image/png">
</head>

<body class=" d-flex flex-column">
  <div class="page page-center">
    <div class="container container-tight py-4">
      <div class="text-center mb-4">
        <a href="{{ url_for('dashboard_blueprint.dashboard_index') }}" class="navbar-brand navbar-brand-autodark">
          <div class="d-flex align-items-center justify-content-center mb-4">
            <img src="{{ url_for('static', filename='logo.png') }}" width="200" alt="STELAR" class="me-3">
        </a>
      </div>
      <div class="card card-md">
        <div class="card-body">
          <form method="POST" autocomplete="off" novalidate>
            <h2 class="h2 card-title text-center mb-4">Forgot password?</h2>
            <p class="text-secondary mb-4">Enter the email address linked to your account and you will receive an email
              with a link to reset your password.</p>
            <div class="mb-3">
              <label class="form-label">Enter the email for your account</label>
              <input type="email" name="account" id="account" class="form-control" placeholder="Email Address"
                oninput="validateEmail(this)">
            </div>
            <div class="form-footer">
              <button type="submit" id="resetButton" class="btn btn-primary w-100 disabled">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                  stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                  <path d="M3 7l9 6l9 -6" />
                </svg>
                Send me a reset password link
              </button>
            </div>
          </form>
        </div>
      </div>
      <script>
        function validateEmail(input) {
          const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          const resetButton = document.getElementById('resetButton');
          if (input.value === '') {
            input.classList.remove('is-valid', 'is-invalid');
            resetButton.classList.add('disabled');
          } else if (emailPattern.test(input.value)) {
            input.classList.add('is-valid');
            input.classList.remove('is-invalid');
            resetButton.classList.remove('disabled');
          } else {
            input.classList.add('is-invalid');
            input.classList.remove('is-valid');
            resetButton.classList.add('disabled');
          }
        }
      </script>
      <div class="text-center text-secondary mt-3">
        Forget it, <a href="{{ url_for('dashboard_blueprint.login') }}">send me back</a> to the sign in page.
      </div>
    </div>
  </div>
</body>

</html>