<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>STELAR | SDE Manager </title>
    <!-- CSS files -->
    {% include 'tabler.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stelar.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favico.png') }}" type="image/png">
</head>

<body>
    <div class="page">
        <!-- Navbar -->
        {% include 'header.html' %}
        <div class="page-wrapper">
            <!-- Page header -->
            <div class="page-header d-print-none">
                <div class="container-xl">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <div class="page-pretitle">
                                UTILITIES
                            </div>
                            <h2 class="page-title">
                                Synopses Data Engine Manager
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <iframe src="{{GUI_URL}}" width="100%" height="1000px" frameborder="0"></iframe>
                </div>
            </div>
            {% include 'footer.html' %}
        </div>
    </div>
</body>

</html>