<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>STELAR | Compare Tasks</title>
  <!-- CSS files -->
  {% include 'tabler.html' %}
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <!-- Leaflet PM CSS (for polygon editing) -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.css" />

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="{{ url_for('static', filename='images.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='stelar.css') }}" />
  <link rel="icon" href="{{ url_for('static', filename='favico.png') }}" type="image/png" />
</head>

<body>
  <div class="page">
    <!-- Navbar -->
    {% include 'header.html' %}
    <div class="page-wrapper">
      <!-- Page header -->
      <div class="page-header d-print-none">
        <div class="container-xl">
          <div class="row g-2 align-items-center">
            <div class="col">
              <!-- Page pre-title -->
              <div class="page-pretitle">PROCESSES</div>
              <h3 class="page-title">
                <ol class="breadcrumb breadcrumb-arrows">
                    <li class="breadcrumb-item"><a class="text-secondary"
                            href="{{ url_for('dashboard_blueprint.processes')}}">
                            Workflow Processes
                        </a>
                    </li>                
                    <li class="breadcrumb-item active"><a href="#"><span
                                class="text-strong">Compare Tasks</span></a></li>
                </ol>
                </h3>
              <p class="mt-3 text-sm text-secondary">
                Use this page to compare the performance of two or more tasks. Select the tasks you want to compare from the
                list below. The comparison will contrast the performance metrics of the selected tasks, utilized input artifacts and produced output ones, 
                allowing you to analyze their efficiency and effectiveness in the context of your project.
                This can help you identify which tasks are performing well and which may need optimization or further investigation.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Page body -->
      <div class="page-body">
        <div class="container-xl">

            

            
        </div>
      </div>
      {% include 'footer.html'%}
    </div>
  </div>
</body>
</html>