<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>STELAR | Tools</title>
    <!-- CSS files -->
    {% include 'tabler.html' %}
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <!-- Leaflet PM CSS (for polygon editing) -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.css" />

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='images.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stelar.css') }}">
    <script src="{{ url_for('static', filename='utils.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='favico.png') }}" type="image/png">
</head>

<body>
    <div class="page">
        <!-- Navbar -->
        {% include 'header.html' %}
        <div class="page-wrapper">
            <!-- Page header -->
            <div class="page-header d-print-none">
                <div class="container-xl">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <!-- Page pre-title -->
                            <div class="page-pretitle">
                                Toolkit
                            </div>
                            <h2 class="page-title">
                                Browse & Manage STELAR Tools
                            </h2>
                        </div>
                        <div class="col-auto ms-auto d-print-none">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-tool-modal">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 5l0 14" />
                                    <path d="M5 12l14 0" />
                                </svg>
                                Register New Tool
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <div class="col-md-12">
                        <div class="row row-cards" id="tool-card-row">

                            <div class="col-lg-3">
                                <div class="card placeholder-glow">
                                    <div class="card-body py-5 text-center">
                                        <div>
                                            <div class="avatar avatar-xl placeholder mb-4"></div>
                                        </div>
                                        <div class="mt w-75 mx-auto">
                                            <div class="placeholder mt-2 col-9 mb-4"></div>
                                            <div class="placeholder placeholder-xs col-10 mb-2"></div>
                                            <div class="placeholder col-9 mb-2"></div>
                                            <div class="placeholder placeholder-xs mt-2 mb-2 col-10"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="card placeholder-glow">
                                    <div class="card-body py-5 text-center">
                                        <div>
                                            <div class="avatar avatar-xl placeholder mb-4"></div>
                                        </div>
                                        <div class="mt w-75 mx-auto">
                                            <div class="placeholder mt-2  col-9 mb-4"></div>
                                            <div class="placeholder placeholder-xs col-10 mb-2"></div>
                                            <div class="placeholder col-9 mb-2"></div>
                                            <div class="placeholder placeholder-xs mt-2 mb-2 col-10"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="card placeholder-glow">
                                    <div class="card-body py-5 text-center">
                                        <div>
                                            <div class="avatar avatar-xl placeholder mb-4"></div>
                                        </div>
                                        <div class="mt w-75 mx-auto">
                                            <div class="placeholder mt-2   col-9 mb-4"></div>
                                            <div class="placeholder placeholder-xs col-10 mb-2"></div>
                                            <div class="placeholder col-9 mb-2"></div>
                                            <div class="placeholder placeholder-xs mt-2 mb-2 col-10"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3">
                                <div class="card placeholder-glow">
                                    <div class="card-body py-5 text-center">
                                        <div>
                                            <div class="avatar avatar-xl placeholder mb-4"></div>
                                        </div>
                                        <div class="mt w-75 mx-auto">
                                            <div class="placeholder mt-2 col-9 mb-4"></div>
                                            <div class="placeholder placeholder-xs col-10 mb-2"></div>
                                            <div class="placeholder col-9 mb-2"></div>
                                            <div class="placeholder placeholder-xs mt-2 mb-2 col-10"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="card placeholder-glow">
                                    <div class="card-body py-5 text-center">
                                        <div>
                                            <div class="avatar avatar-xl placeholder mb-4"></div>
                                        </div>
                                        <div class="mt w-75 mx-auto">
                                            <div class="placeholder mt-2  col-9 mb-4"></div>
                                            <div class="placeholder placeholder-xs col-10 mb-2"></div>
                                            <div class="placeholder col-9 mb-2"></div>
                                            <div class="placeholder placeholder-xs mt-2 mb-2 col-10"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3">
                                <div class="card placeholder-glow">
                                    <div class="card-body py-5 text-center">
                                        <div>
                                            <div class="avatar avatar-xl placeholder mb-4"></div>
                                        </div>
                                        <div class="mt w-75 mx-auto">
                                            <div class="placeholder mt-2  col-9 mb-4"></div>
                                            <div class="placeholder placeholder-xs col-10 mb-2"></div>
                                            <div class="placeholder col-9 mb-2"></div>
                                            <div class="placeholder placeholder-xs mt-2 mb-2 col-10"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="card placeholder-glow">
                                    <div class="card-body py-5 text-center">
                                        <div>
                                            <div class="avatar avatar-xl placeholder mb-4"></div>
                                        </div>
                                        <div class="mt w-75 mx-auto">
                                            <div class="placeholder mt-2 col-9 mb-4"></div>
                                            <div class="placeholder placeholder-xs col-10 mb-2"></div>
                                            <div class="placeholder col-9 mb-2"></div>
                                            <div class="placeholder placeholder-xs mt-2 mb-2 col-10"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card placeholder-glow">
                                    <div class="card-body py-5 text-center">
                                        <div>
                                            <div class="avatar avatar-xl placeholder mb-4"></div>
                                        </div>
                                        <div class="mt w-75 mx-auto">
                                            <div class="placeholder mt-2 col-9 mb-4"></div>
                                            <div class="placeholder placeholder-xs col-10 mb-2"></div>
                                            <div class="placeholder col-9 mb-2"></div>
                                            <div class="placeholder placeholder-xs mt-2 mb-2 col-10"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- New Tool Modal -->
                <div class="modal modal-blur fade" id="new-tool-modal" tabindex="-1" role="dialog" aria-modal="true"
                    style="display: none;">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">New STELAR Tool</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="mb-3">
                                            <label class="form-label">Name</label>
                                            <input type="text" class="form-control" name="name" placeholder="the-new-tool"
                                                id="tool-name-input">
                                            <small class="form-hint">
                                                <p>
                                                    Please use a name in the format <code>the-new-tool</code> (use hyphens
                                                    instead of spaces). This name will be used to generate both the tool's URL
                                                    and its image repository name.
                                                </p>
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label class="form-label">Tool Category</label>
                                            <select class="form-select" id="tool-category"
                                                name="tool-category">
                                                <option value="discovery">Discovery</option>
                                                <option value="interlinking">Interlinking</option>
                                                <option value="annotation">Annotation</option>
                                                <option value="annotation">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <small class="form-hint">
                                        <p>
                                            After creating the tool, the documentation and other metadata may be updated
                                            in the tool's page.
                                        </p>
                                    </small>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Image Repository</label>
                                    <input type="text" class="form-control" id="image-repository-name-input"
                                        placeholder="{{REGISTRY_URL}}/stelar/the-new-tool" id="image-repo-name-input"
                                        readonly>
                                    <small class="form-hint">
                                        <p>
                                            This is the name of the image repository where the tool's docker images
                                            may be pushed. It will be generated based on the name you provided.
                                        </p>
                                    </small>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="me-2 icon icon-tabler icons-tabler-outline icon-tabler-building-bank">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M3 21l18 0" />
                                            <path d="M3 10l18 0" />
                                            <path d="M5 6l7 -3l7 3" />
                                            <path d="M4 10l0 11" />
                                            <path d="M20 10l0 11" />
                                            <path d="M8 14l0 3" />
                                            <path d="M12 14l0 3" />
                                            <path d="M16 14l0 3" />
                                        </svg>Owner Organization</label>
                                    <select class="form-select" id="owner-org" name="owner_org">

                                    </select>
                                    <small class="form-hint">
                                        <p>
                                            Creating a new tool in an organization requires you to have
                                            the permission to do so assigned by an administrator.
                                        </p>
                                    </small>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="me-2 icon icon-tabler icons-tabler-outline icon-tabler-license"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 21h-9a3 3 0 0 1 -3 -3v-1h10v2a2 2 0 0 0 4 0v-14a2 2 0 1 1 2 2h-2m2 -4h-11a3 3 0 0 0 -3 3v11" /><path d="M9 7l4 0" /><path d="M9 11l4 0" /></svg>License</label>
                                    <select class="form-select" id="license-id" name="license_id">
                                    </select>
                                    <small class="form-hint">
                                      <p>
                                        Selecting the appropriate license for your dataset is important
                                        to ensure that users understand how they can use the data.
                                      </p>
                                    </small>
                                </div>

                                <div class="mb-4">
                                    <label class="form-label">Visibility</label>
                                    <div class="form-selectgroup-boxes row mb-1">
                                      <div class="col-lg-6 text-success">
                                        <label class="form-selectgroup-item">
                                          <input type="radio" name="package-visibility" value="public" class="form-selectgroup-input"
                                            checked="">
                                          <span class="form-selectgroup-label d-flex align-items-center p-3">
                                            <span class="me-3">
                                              <span class="form-selectgroup-check"></span>
                                            </span>
                                            <span class="form-selectgroup-label-content">
                                              <span class="form-selectgroup-title strong mb-1">Public</span>
                                              <span class="d-block text-secondary">Accessible to all users
                                                registered in the KLMS</span>
                                            </span>
                                          </span>
                                        </label>
                                      </div>
                                      <div class="col-lg-6 text-danger">
                                        <label class="form-selectgroup-item">
                                          <input type="radio" name="package-visibility" value="private"
                                            class="form-selectgroup-input">
                                          <span class="form-selectgroup-label d-flex align-items-center p-3">
                                            <span class="me-3">
                                              <span class="form-selectgroup-check"></span>
                                            </span>
                                            <span class="form-selectgroup-label-content">
                                              <span class="form-selectgroup-title strong mb-1">Private</span>
                                              <span class="d-block text-secondary">Accessible only to members
                                                of the organization that
                                                owns the package</span>
                                            </span>
                                          </span>
                                        </label>
                                      </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="mb-3">
                                            <label class="form-label">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="me-2 icon icon-tabler icons-tabler-outline icon-tabler-brand-github">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                    <path
                                                        d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                                                </svg>
                                                GitHub Repository URL</label>
                                            <div class="input-group input-group-flat">
                                                <span class="input-group-text"> https://github.com/</span>
                                                <input type="text" class="form-control ps-0" value="stelar-eu/klms-tool"
                                                    autocomplete="off" id="git-repo" name="git-repo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label class="form-label">Programming Language</label>
                                            <select class="form-select" id="programming-language"
                                                name="programming-language">
                                                <option value="Python">Python</option>
                                                <option value="Java">Java</option>
                                                <option value="Javascript">Javascript</option>
                                                <option value="Go">Go</option>
                                            </select>
                                        </div>
                                    </div>
                                    <small class="form-hint">
                                        <p>
                                            After creating the tool, the documentation and other metadata may be updated
                                            in the tool's page.
                                        </p>
                                    </small>
                                </div>
                            </div>
                            <div class="modal-footer" id="new-tool-modal-footer">
                                <a class="btn btn-primary btn-5 ms-auto cursor-pointer disabled" id="create-tool-btn"
                                    onclick="createTool()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="icon icon-2">
                                        <path d="M12 5l0 14"></path>
                                        <path d="M5 12l14 0"></path>
                                    </svg>
                                    Create new Tool
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>

    <script>


        function createToolCards(tools) {
            iconInterlinking = "{{ url_for('static', filename='logos/tools/linking.png') }}";
            iconDiscovery = "{{ url_for('static', filename='logos/tools/discovery.png') }}";
            iconAnnotation = "{{ url_for('static', filename='logos/tools/annotation.png') }}";

            // Loop through the tools and create cards
            for (var i = 0; i < tools.length; i++) {
                var tool = tools[i];
                var card = `
                    <div class="col-lg-3">
                        <a class="card card-link cursor-pointer" href="{{ url_for('dashboard_blueprint.tool', tool_id='')}}${tool.id}">
                            <div class="card-body p-4 py-5 text-center">
                                <span class="avatar avatar-xl mb-2 rounded">
                                    ${(() => {
                                        if (tool.category === 'interlinking') {
                                            return `<img src="${iconInterlinking}" alt="Interlinking Icon" class="rounded">`;
                                        } else if (tool.category === 'discovery') {
                                            return `<img src="${iconDiscovery}" alt="Discovery Icon" class="rounded">`;
                                        } else if (tool.category === 'annotation') {
                                            return `<img src="${iconAnnotation}" alt="Annotation Icon" class="rounded">`;
                                        } else {
                                            const parts = tool.name.split(/[-_]/);
                                            return (parts[0].charAt(0) + (parts[1] ? parts[1].charAt(0) : '')).toUpperCase();
                                        }
                                    })()}
                                </span>
                                <h3 class="mb-0">${tool.name}</h3>
                                <span class="text-secondary mb-0">${tool.category ? tool.category.charAt(0).toUpperCase() + tool.category.slice(1) : 'Not Specified'}</span>
                                <div class="mt-2">${tool.programming_language ? getProgrammingLanguageBadge(tool.programming_language) : ''}</div>
                                <div class="mt-2 text-truncate">
                                    ${tool.git_repository ? `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="me-1 icon icon-tabler icons-tabler-outline icon-tabler-brand-github"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" /></svg>
                                        ${clearGithubLink(tool.git_repository)}` : ''}
                                </div>
                            <p class="text-secondary text-truncate mt-2 mb-2">Last Updated: <strong>${formatIsoDate(tool.metadata_modified)}</strong></p>
                            </div >
                        </a>
                    </div > `;
                $('#tool-card-row').append(card);
            }
        }


        function fetchTools() {
            $.ajax({
                url: '{{ url_for("rest_workflows_blueprint.api_fetch_tools") }}',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.result.length > 0) {
                        // Clear the placeholder cards
                        $('#tool-card-row').empty();

                        createToolCards(data.result);
                    } else {
                        setTimeout(() => {
                            // Clear the placeholder cards
                            $('#tool-card-row').empty();
                            $('#tool-card-row').append(`
                                 <div class="col-12">
                                    <div class="text-center h1 text-secondary">
                                       ${createEmptyStateIcon()}
                                    </div>
                                    <div class="h2 text-center text-secondary">
                                        <span class="mt-3">No tools have been registered yet. <br> Register your first tool by clicking on the button above.</span>
                                    </div>
                                </div >
                            `);
                        }, 2000);
                    }
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 401) {
                        window.location.href = '/';
                    }
                }
            });
        }



        function fetchOrganizations() {
            $.ajax({
                url: '{{ url_for("catalog_blueprint.api_fetch_organizations") }}',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.result.length > 0) {
                        // Clear the placeholder cards
                        $('#owner-org').empty();

                        for (var i = 0; i < data.result.length; i++) {
                            var org = data.result[i];
                            $('#owner-org').append(`<option value="${org.name}">${org.title}  |  ${org.name}</option>`);
                        }
                    }
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 401) {
                        window.location.href = '/';
                    }
                }
            })
        }

   
        function fetchAvailableLicenses(callback) {
            $.ajax({
            url: "{{url_for('catalog_blueprint.api_fetch_licenses')}}",
            method: "GET",
            success: function (response) {
                if (response.success) {
                window.availableLicenses = response.result;
                // Populate the license dropdown in the publishing modal
                var licenseSelect = $('#license-id');
                licenseSelect.empty();
    
                licenseSelect.append($('<option></option>').attr('value', '').text('Select License'));
    
                window.availableLicenses.forEach(function (license) {
                    var option = $('<option></option>')
                    .attr('value', license.key)
                    .text(license.title + ' - (' + license.key + ')');
                    if (license.image_url) {
                    option.attr('data-image', license.image_url);
                    }
                    licenseSelect.append(option);
                });        
    
                } else {
                    console.error("Failed to fetch available licenses:", response.message);
                }
            },
            error: function (xhr, status, error) {
                console.error("AJAX request for available licenses failed:", error);
            }
            });
            if (typeof callback === "function") {
            callback();
            }
        }

        // Function to validate the tool name and generate the image repository name
        function validateToolName() {
            var toolName = $('#tool-name-input').val();
            var imageRepositoryName = '{{REGISTRY_URL}}/stelar/' + toolName.replace(/ /g, '-').toLowerCase();
            var regex = /^[a-z0-9]+(?:-[a-z0-9]+)*$/;

            if (!toolName) {
                $('#tool-name-input').removeClass('is-valid is-invalid');
                $('#create-tool-btn').addClass('disabled');
                $('#image-repository-name-input').val('');
            } else if (regex.test(toolName)) {
                $('#tool-name-input').removeClass('is-invalid').addClass('is-valid');
                $('#create-tool-btn').removeClass('disabled');
                $('#image-repository-name-input').val(imageRepositoryName);
            } else {
                $('#tool-name-input').removeClass('is-valid').addClass('is-invalid');
                $('#create-tool-btn').addClass('disabled');
                $('#image-repository-name-input').val(imageRepositoryName);
            }
        }

        $('#tool-name-input').on('input', validateToolName);


        function createTool() {
            var toolName = $('#tool-name-input').val();
            var imageRepositoryName = $('#image-repository-name-input').val();
            var ownerOrg = $('#owner-org').val();
            var gitRepository = 'https://github.com/' + $('#git-repo').val();
            var programmingLanguage = $('#programming-language').val();
            var private = $('input[name="package-visibility"]:checked').val() === 'private';
            var category = $('#tool-category').val();
            var license_id = $('#license-id').val();

            $('#create-tool-btn').addClass('disabled');
            $('#new-tool-modal-footer').prepend(createLoaderElement(true, true))
            $.ajax({
                url: '{{ url_for("rest_workflows_blueprint.api_create_tool") }}',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    name: toolName,
                    owner_org: ownerOrg,
                    git_repository: gitRepository,
                    programming_language: programmingLanguage,
                    private: private,
                    category: category,
                    ...(license_id !== "" && { license_id: license_id })
                }),
                success: function (data) {
                    fetchTools();
                    $('#create-tool-btn').removeClass('disabled');
                    $('#new-tool-modal-footer .stelar-loader').remove();
                    $('#new-tool-modal-footer').prepend(createAlertElement('success', 'Tool registered successfully'));
                    setTimeout(function () {
                        $('#new-tool-modal-footer .alert').fadeOut(500, function () {
                            $(this).remove();
                        });
                    }, 3000);

                },
                error: function (xhr, status, error) {

                    $('#create-tool-btn').removeClass('disabled');
                    $('#new-tool-modal-footer .stelar-loader').remove();
                    $('#new-tool-modal-footer').prepend(createAlertElement('danger', 'Error registering tool: ' + error));
                    setTimeout(function () {
                        $('#new-tool-modal-footer .alert').fadeOut(500, function () {
                            $(this).remove();
                        });
                    }, 3000);
                    if (xhr.status === 401) {
                        window.location.href = '/';
                    }
                }
            });
        }


        $(document).ready(function () {
            fetchTools();
            fetchOrganizations();
            fetchAvailableLicenses();
        });

    </script>

</body>