:root,
[data-bs-theme=light] {
  --tblr-blue: #3E1E4B;
  --tblr-primary: #3E1E4B; 
  --tblr-tabler: #3E1E4B; 
  --tblr-primary-rgb: 62, 30, 75;
  --tblr-primary-border-subtle: #988a9e;
  --tblr-info-border-subtle: #988a9e;
}

.steps-vertical {
  --tblr-steps-dot-offset: 2rem !important;
}

.steps{
  --tblr-steps-dot-size: 1rem !important;
}